body.login {
    background: #f8f8f8;
}

.login #header {
    height: auto;
    padding: 15px 16px;
    justify-content: center;
}

.login #header a {
    font-size: 18px;
    color: #FFFF00;
}


.login #content {
    padding: 20px 20px 0;
}

.login #container {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
}