{%extends 'Plantilla_principal.html'%}
{%block Contenido_pagina%}

   <div>
   <table class="table table-bordered" >
       {% csrf_token %}
       <thead>
          <td>Identificacion de materia</td>
          <td>Nombre</td>
          <td>Duracion por dia</td>
       </thead>

      <tbody>

      {%if forma %}
      {% for period in forma %}
      <tr>
          <td>{{period.id_materia}}</td>
          <td>{{period.nombre}}</td>
          <td>{{period.duracion}}</td>
      </tr>
        </tbody>
       {% endfor %}
       {% else %}
       <h1>No hay registros</h1>
       {% endif %}
     </table>

   </div>

{%endblock%}
