{%extends 'Plantilla_principal.html'%}
{%block Contenido_pagina%}

   <div>
   <table class="table table-bordered" >
       {% csrf_token %}
       <thead>
          <td>Identificacion de periodo</td>
          <td>Fecha inicial</td>
          <td>Fecha final</td>
       </thead>

      <tbody>

      {%if forma %}
      {% for period in forma %}
      <tr>
          <td>{{period.id_periodo}}</td>
          <td>{{period.fecha_incio}}</td>
          <td>{{period.fecha_fin}}</td>
          <td> <a class="btn btn-success"
          href="{%url 'actual_period' period.id_periodo%}">Editar</a></td>
          <td> <a class="btn btn-success"
          href="{%url 'eliminar_period' period.id_periodo%}">Eliminar</a></td>
      </tr>
        </tbody>
       {% endfor %}
       {% else %}
       <h1>No hay registros</h1>
       {% endif %}
     </table>

   </div>
<a class="btn btn-success" href="{%url 'periodo' %}">NUEVO</a>
{%endblock%}